<div class="list-group">
    <a href="@Url.Action("Index", "Account")" class="list-group-item clearfix">Profile <i class="icon-user pull-right"></i></a>
    <a href="@Url.Action("ChangePassword", "Account")" class="list-group-item clearfix">Change Password <i class="icon-lock pull-right"></i></a>
    <a href="#" id="sidebar_logout" data-url="@Url.Action("LogOff", "Account")" data-after-url="/" class="list-group-item clearfix">Logout <i class="icon-line2-logout pull-right"></i></a>
    <a href="@Url.Action("Delete", "Account")" class="list-group-item clearfix danger">Delete Account <i class="icon-remove pull-right"></i></a>
</div>