@*WILL ADD THIS LATER!!*@

@*<h4 style="margin-bottom: 15px;">You can also Login with</h4>
<div class="col_half">
    <a class="button button-rounded btn-block t400 center capitalize si-gplus si-colored nomargin" href="#">Google</a>
    <a class="button button-rounded btn-block t400 center capitalize si-facebook si-colored noleftmargin norightmargin" href="#">Facebook</a>
</div>*@