
@{
    ViewBag.Title = "Reset password requested";
}

<div class="postcontent nobottommargin clearfix">
    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

        <div class="acctitle"><i class="acc-open icon-user"></i>@ViewBag.Title</div>
        <div class="acc_content clearfix">

            @Html.Partial("Partials/_MessagesPartial")
            <p>If you entered a correct E-mail address, you will receive a password reset E-mail.</p>
            <p>If you do not receive the E-mail, you can @Html.ActionLink("Request password reset again", "ForgotPassword", "Account")</p>

        </div>

    </div>
</div>

@section PageTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        @*TODO: helper for breadcrumbs if they are needed ...*@
        <div class="container clearfix">
            <h1>My account</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}

