
@{
    ViewBag.Title = "Reset password success | Entangled Life";
}

<div class="postcontent nobottommargin clearfix">
    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

        <div class="acctitle"><i class="acc-open icon-user"></i>@ViewBag.Title</div>
        <div class="acc_content clearfix">

            <p>Your password has been reset.</p>
            @Html.Partial("Partials/_MessagesPartial")

        </div>

    </div>
</div>

@section PageTitle
{
    <section id="page-title">
        <div class="container clearfix">
            <h1>My account</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Reset password success</li>
            </ol>
        </div>

    </section>
}

