@{
    ViewBag.Title = "An Error occured.";
}

<div class="postcontent nobottommargin clearfix">
    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

        <div class="acctitle"><i class="acc-open icon-warning-sign"></i>@ViewBag.Title</div>
        <div class="acc_content clearfix">

            @Html.Partial("Partials/_MessagesPartial")

        </div>

    </div>
</div>

@section PageTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        @*TODO: helper for breadcrumbs if they are needed ...*@
        <div class="container clearfix">
            <h1>Registered Succesfully.</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Register</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}